<br><br>

<div align="center" class="row">
  <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2">
    <h1>First step</h1>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean et est a dui semper facilisis. Pellentesque
      placerat elit a nunc. Nullam tortor odio, rutrum quis, egestas ut, posuere sed, felis.</p>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <a onclick="" class="btn btn-default btn-lg btn-reg">Next step</a>
  </div>
</div>