<br/>
<div align="center" class="row">
  <div class="table-responsive col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
    <h2 class="sub-header">Rozpis liekov</h2>
    <br/>
    <h4>15.05.2017 - 28.05.2017</h4>
    <table class="table table-striped">
      <tr>
        <th></th>
        <th>Po</th>
        <th>Ut</th>
        <th>St</th>
        <th>Št</th>
        <th>Pi</th>
        <th>So</th>
        <th class="nedela">Ne</th>
        <th class="emptyTh"></th>
        <th>Po</th>
        <th>Ut</th>
        <th>St</th>
        <th>Št</th>
        <th>Pi</th>
        <th>So</th>
        <th class="nedela">Ne</th>
        <th class="emptyTh"></th>
        <th>Po</th>
        <th>Ut</th>
        <th>St</th>
        <th>Št</th>
        <th>Pi</th>
        <th>So</th>
        <th class="nedela">Ne</th>
      </tr>
      <tr>
        <th>Ibalgin</th>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <th class="emptyTh"></th>
        <td class="success">&#10003</td>
        <td class="danger">&#9992</td>
        <td class="danger">&#9992</td>
        <td class="danger">&#9992</td>
        <td class="danger">&#9992</td>
        <td class="danger">&#9992</td>
        <td class="danger">&#9992</td>
        <th class="emptyTh"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>Anopyrin</th>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <th class="emptyTh"></th>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="danger">&#9992</td>
        <td class="danger">&#9992</td>
        <td class="danger">&#9992</td>
        <td class="danger">&#9992</td>
        <th class="emptyTh"></th>
        <td class="danger">&#9992</td>
        <td class="danger">&#9992</td>
        <td class="danger">&#9992</td>
        <td class="danger">&#9992</td>
        <td class="danger">&#9992</td>
        <td class="danger">&#9992</td>
        <td class="danger">&#9992</td>
      </tr>
      <tr>
        <th>Dithiaden</th>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <th class="emptyTh"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th class="emptyTh"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>Concor 5</th>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <td class="success">&#10003</td>
        <th class="emptyTh"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th class="emptyTh"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>

  <br/>

  <div class="table-responsive col-lg-2 col-md-2 col-sm-4 col-xs-6 col-lg-offset-1 col-md-offset-1" style="margin-left:5%;">
    <h3 class="sub-header">Legenda</h3>
    <table class="table table-striped legenda">
      <tr>
        <th>Vysvetlivka</th>
      </tr>
      <tr>
        <td>&#10003 - Pripravené</td>
      </tr>
      <!--<tr>-->
        <!--<td>&#10066 - Pripravené</td>-->
      <!--</tr>-->
      <tr>
        <td>&#9992 - Objednané</td>
      </tr>
    </table>
  </div>

</div>