<br><br>

<div align="center" class="row">
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
    <h1>Rozpis liekov</h1>
    <table class="table table-hover">
      <tr>
        <th></th>
        <th>Po</th>
        <th>Ut</th>
        <th>St</th>
        <th>Št</th>
        <th>Pi</th>
        <th>So</th>
        <th>Ne</th>
        <th></th>
        <th>Po</th>
        <th>Ut</th>
        <th>St</th>
        <th>Št</th>
        <th>Pi</th>
        <th>So</th>
        <th>Ne</th>
        <th></th>
        <th>Po</th>
        <th>Ut</th>
        <th>St</th>
        <th>Št</th>
        <th>Pi</th>
        <th>So</th>
        <th>Ne</th>
      </tr>
      <tr>
        <th>Ibalgin</th>
        <td class="success">x</td>
        <td class="success">x</td>
        <td class="success">x</td>
        <td class="success">x</td>
        <td class="success">x</td>
        <td class="success">x</td>
        <td class="success">x</td>
        <th></th>
        <td class="info">r</td>
        <td class="info">r</td>
        <td class="info">r</td>
        <td class="info">r</td>
        <td class="info">r</td>
        <td class="info">r</td>
        <td class="info">r</td>
      </tr>
      <tr>
        <th>Ibalgin</th>
        <td class="success">x</td>
        <td class="success">x</td>
        <td class="success">x</td>
        <td class="success">x</td>
        <td class="success">x</td>
        <td class="success">x</td>
        <td class="success">x</td>
        <th></th>
        <td class="danger">o</td>
        <td class="danger">o</td>
        <td class="danger">o</td>
        <td class="danger">o</td>
        <td class="danger">o</td>
        <td class="danger">o</td>
        <td class="danger">o</td>
        <th></th>
        <td class="danger">o</td>
        <td class="danger">o</td>
        <td class="danger">o</td>
        <td class="danger">o</td>
        <td class="danger">o</td>
        <td class="danger">o</td>
        <td class="danger">o</td>
      </tr>
      <tr>
        <th>Ibalgin</th>
        <td class="success">x</td>
        <td class="success">x</td>
        <td class="success">x</td>
        <td class="success">x</td>
        <td class="success">x</td>
        <td class="success">x</td>
        <td class="success">x</td>
      </tr>
      <tr>
        <th>Ibalgin</th>
        <td class="success">x</td>
        <td class="success">x</td>
        <td class="success">x</td>
        <td class="success">x</td>
        <td class="success">x</td>
        <td class="success">x</td>
        <td class="success">x</td>
      </tr>
    </table>

    <div>
      <h3>Vysvetlivky</h3>
      <p> x - delivered
      r - ready
      o - ordered </p>
    </div>
  </div>
</div>