/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "_bootstrap-sprockets.scss";
@import "_bootstrap.scss";

.menuBar a:link {
    color: whitesmoke;
}

/* visited link */
.menuBar a:visited {
    color: whitesmoke;
}

/* mouse over link */
.menuBar a:hover {
    color: #0ab228;
}

/* selected link */
.menuBar a:active {
    color: whitesmoke;
}

.menuBar ul {
    display: inline-block;
    font-size: 150%;
    font-family: "Segoe UI Light", serif;
}

.btn.btn-reg {
    border-radius: 0;
    font-family: "Segoe UI Light", serif;
    color: whitesmoke;
    background-color: #0ab228;
    border-color: #0ab228;
}

.btn.btn-reg:hover{
    background-color: #eeeeee;
    color: #0ab228;
}

td, tr {
    border: 1px solid darkgray;
}

th {
    font-family: "Segoe UI Light", serif;
    color: whitesmoke;
    background-color: #0ab228;
    font-weight: normal;
    border: 1px solid whitesmoke;
}

.nedela {
    border-right: 1px solid darkgray;
}

.emptyTh{
    background-color: white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
}

.legenda th, .legenda td {
    text-align: center;
    border: 1px solid darkgray;
}
