<!DOCTYPE html>
<html>
<title>NezabudniLieky</title>
<%= csrf_meta_tags %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<script src="https://raw.githubusercontent.com/maciej-gurban/responsive-bootstrap-toolkit/master/src/bootstrap-toolkit.js" type="text/javascript" charset="utf-8">
</script>

</head>

<body>


<%= yield %>

<!--</div>-->
<!--</div>-->
</body>
</html>
